body {
  background: linear-gradient(45deg, #0620a5b9, #be6804);
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contenedor {
  background-image: url("reloj.webp"); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Ajusta según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Altura del cuadro */
}

#resultadoContenedor {
  background-color: rgb(
    239,
    242,
    243
  ); /* Cambia el color de fondo según tus preferencias */
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
